

.item-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.item-card {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.titleCatlog{
  text-align: center;
  color:red;
  padding: 40px;

}
.titleCatlog>h1{
  border-bottom:2px solid;
  display: inline;
}
.item-card > div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 800px;
}
.item-card .food-img {
    height: 200px;
    min-width: 300px;
    padding: 0px;
    border: 5px solid #fff;
    box-shadow: 3px 6px 6px rgb(0 0 0 / 60%), 3px 6px 6px rgb(0 0 0 / 60%);
    margin: 0 30px;;
}
.price-section {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 30px 50px;
  border-bottom: 3px solid;
}
.category-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.btn-section{
    display: flex;
 
    justify-content: space-evenly;
    width: 380px;
}
.cat-btn{
    margin: 5px;
    padding: 5px 0px;
    border: 0;
    width: 101px;
    background: #fff;
    font-weight: bold;
    color: #a68e11;
    text-transform: capitalize;
    cursor: pointer;
}
/* .cat-btn:hover{
    outline: none;
    background:#a68e11;
    color:#fff;
    border-radius: 5px;

} */
.cat-btn:active{
    border-bottom:2px solid #a68e11;
}

.price{
    color:#a68e11;
    position: relative;
}
.price::before{
    content:"₹​";
    width: 20px;
    height: 20px;
    top:0;
    left: 0;
    color:#a68e11;
}