.naveContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
    align-items: center;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    color: #333;
    position: sticky;
    top: -1px;
    background: #fff;
    z-index: 1;
}
